<h1>Edit <%= @question.content %></h1>
<ul>
  <%= form_for @question do |f| %>
    <li>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>