<h1><%= @question.title %></h1>
<h2><%= @question.content %></h2>
<br>
<% if @username && logged_username == @username %>
  <%= link_to 'edit question', edit_question_path(@question), class: "btn btn-info", role: "button"%>
  <%= link_to 'delete question', question_path(@question), class: "btn btn-info", role: "button", :method => :delete %>
<% end %>
<ul id="comments">
  <h3>Question Comments:</h3>
  <% @question.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
  <h4><%= link_to 'add comment to question', new_comment_path(question_id: @question.id ) %></h4>
</ul>
<ul id="answers">
  <h3>Answers:</h3>
  <% @question.answers.each do |ans| %>
    <li>
      <div class="row">
        <div class="col-md-1">
        <% if @question.best_answer_id == ans.id %>
        <i class="fa fa-check fa-3x"></i>
        <% else %>
        <%= link_to 'Mark this answer as the best', question_best_answer_path(@question, answer_id: ans.id ), :class => 'sm' %>
        <% end %>
      </div>
      <div class="col-md-10">
        <%= link_to ans.content, question_answer_path(@question, ans) %>
      </div>
    </div>
    </li>
  <% end %>
  <h4><%= link_to 'add answer to question', new_question_answer_path(question_id: @question.id ) %></h4>
</ul>