<h1><%= @question.content %></h1>
<%= link_to 'edit question', edit_question_path(@question) %>
<%= link_to 'delete question', question_path(@question), :method => :delete %>
<ul>
  <h3>Question Comments:</h3>
  <% @question.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
  <h4><%= link_to 'add comment to question', new_comment_path(question_id: @question.id ) %></h4>
</ul>
<ul>
  <h3>Answers:</h3>
  <% @question.answers.each do |ans| %>
    <li><%= link_to ans.content, answer_path(ans) %></li>

  <% end %>
  <h4><%= link_to 'add answer to question', new_answer_path(question_id: @question.id ) %></h4>
</ul>