<h1><%= @question.content %></h1>
<ul>
  <% @question.qcomments.each do |qs| %>
    <li><%= link_to qs.content, qcomment_path(qs) %></li>
  <% end %>
</ul>
<ul>
<% @question.answers.each do |ans| %>
  <li><%= link_to ans.content, answer_path(ans) %></li>
  <ol>
  <% ans.acomments.each do |acom| %>
    <li><%= link_to acom.content, acomment_path(acom) %></li>
  <% end %>
  </ol>
<% end %>
</ul>

<%= link_to 'edit', edit_question_path(@question) %>
<%= link_to 'delete', question_path(@question), :method => :delete %>