<h1><%= @question.content %></h1>
<ul>
  <h3>Question Comments:</h3>
  <% @question.qcomments.each do |qs| %>
    <li><%= link_to qs.content, qcomment_path(qs) %></li>
  <% end %>
</ul>
<ul>
  <h3>Answers:</h3>
  <% @question.answers.each do |ans| %>
    <li><%= link_to ans.content, answer_path(ans) %></li>
    <ol>
    <h4>Answer Comments:</h4>
    <% ans.acomments.each do |acom| %>
      <li><%= link_to acom.content, acomment_path(acom) %></li>
    <% end %><br><br>
    </ol>
  <% end %>
</ul>

<%= link_to 'edit', edit_question_path(@question) %>
<%= link_to 'delete', question_path(@question), :method => :delete %>